.row.panel.panel-warning
    .row
        .main.col-xs-2
            div
                .label.label-default Now
            div
                .label.label-info.temp(title="temperature") #{model.temp}째
                .label.label-info.humidity(title="humidity") #{model.humidity}%
            if model.weather
                .weather(title="#{model.weather.description}")
                        img(alt="#{model.weather.main}",
                            src="icons/#{model.weather.icon}.png")
            div
                span.remove(title="remove") &times;
                .name.label.label-warning(title="#{model.country}") #{model.name}
        if model.hours
            each hour in model.hours
                .hour.col-xs-2
                    div
                        .label.label-default #{hour.hour}
                    div
                        .label.label-info.temp
                            span(title="temperature") #{hour.temp}째
                        if hour.humidity
                            .label.label-info.humidity(title="humidity")
                                 | #{hour.humidity}%
                    if hour.weather
                        .weather(title="#{hour.weather.description}")
                                img(alt="#{hour.weather.main}",
                                    src="icons/#{hour.weather.icon}.png")
    if model.days
        .row
            .day.col-xs-2
            each day in model.days
                .day.col-xs-2
                    div
                        .label.label-default #{day.date}
                    div
                        .label.label-info.temp
                            span(title="temperature in night") #{day.night}째 / 
                            span(title="temperature in day") #{day.day}째
                        if day.humidity
                            .label.label-info.humidity(title="humidity")
                                 | #{day.humidity}%
                    if day.weather
                        .weather(title="#{day.weather.description}")
                                img(alt="#{day.weather.main}",
                                    src="icons/#{day.weather.icon}.png")
